body {
	cursor: crosshair;
	// width: 395px;
	 //border-style: solid;
	 //border-width: 2px;
	 //padding: 10px;
	 font-size: 80%;
	 font-family: "Courier New", Courier, monospace;
	 letter-spacing: 0.15em;
	 text-align: left;
	 background-color: #CCC;
	 margin: 10px auto 10px auto;
	 //Still have to make an image for this...
	 //border-image: url("") 11 11 11 11 repeat; 
	 }
 
 #navigation {
 z-index: 10;
 position: fixed;
 left: 0px;
 top: 0px;
 border-style: solid;
 border-width: 2px;
 padding: 10px;
 width: 420px;
 height: 30px;
 background-color: #CCC;
 }
 
 li.nav {
 display: inline;
 margin-right: 10px;
 }
 
 #wholepage {
     text-align: left;
     width: 640px;
	 border-style: solid;
	 border-width: 2px;
	 padding: 10px;
	 margin: 80px auto 10px auto;
 }
 
 div {
 //float: left;
 box-shadow: 5px 5px 5px #777777;
 //text-align: left;
 //background-color: ; #000FF;
 margin: 10px auto 10px auto;
 border-radius: 10px;
 //clear: left;
 }
 
 p {
    //box-shadow: 5px 5px 5px #777777;
    text-align: center;
    border-style: groove;
    border-width: 5px;
    padding: 5px;
	background-color: #ffffff;
	margin: 10px auto 10px auto;
	border-radius: 10px;
}

ul {
	//list-style-type: disc;
	//list-style-position: inside;
	//list-style-image: url("/sdcard/Documents/WebStuff/WebStuff-master/Border2.png");
	list-style: inside disc;
}

li {
	//margin: 10px 0px 0px 0px;}

ol {
    list-style-type: upper-alpha;
}

/*#intro {
border-style: inset;
border-width: 5px;
}*/

#header {
height: 180px;
width: 370px;
padding: 10px;
border-style: solid;
border-width: 2px;
//background-color: ; #000FF;
}

//Quote section is malfunctioning...
/*#quote {
height: 5px;
width: 355px;
}*/
#infosection {
border-style: solid;
border-width: 2px;
padding 10px;
height: 6000px;
width: 400px;
}

#basicinfoa {
position: relative;
left: 100px;
border-style: solid;
border-width: 2px;
padding: 10px;
height: 140px;
width: 370px;
}

#basicinfob {
border-style: solid;
border-width: 2px;
padding: 10px;
height: 100px;
width: 370px;
}

#basicinfoc {
position: relative;
right: 100px;
border-style: solid;
border-width: 2px;
padding: 10px;
height: 140px;
width: 370px;
}

#basicinfod {
border-style: solid;
border-width: 2px;
padding: 10px;
height: 230px;
width: 370px;
}

#basicinfoe {
//position: relative;
//left: 100px;
border-style: solid;
border-width: 2px;
padding: 10px;
height: 140px;
width: 370px;
}

#basicinfof {
position: relative;
left: 100px;
border-style: solid;
border-width: 2px;
padding: 10px;
height: 130px;
width: 370px;
}

#infoa {
height: 80px;
width: 355px;
}

#infob {
height: 50px;
width: 355px;
}

#infoc {
height: 80px;
width: 355px;
}

#infod {
height: 180px;
width: 355px;
}

#infoe {
height: 80px;
width: 355px;
}

#infof {
height: 80px;
width: 355px;
}

hr.infoline {
height: 0px;
width: 355px;
}

#lists {
height: 1080px;
width: 360px;
}	

#list-title {
position: absolute;
left: 680px;
padding: 10px;
height: 40px;
width: 355px;
}
#list1 {
border-style: solid;
border-width: 2px;
padding: 10px;
height: 150px;
width: 370px;
}

#list2 {
border-style: solid;
border-width: 2px;
padding: 10px;
height: 300px;
width: 370px;
}

#list3 {
border-style: solid;
border-width: 2px;
padding: 10px;
height: 480px;
width: 370px;
}

//Table Properties
#tableheads {
text-align: left;
}

th, td {
	padding: 5px 5px 5px 5px;
}

th {
text-transform: uppercase;
letter-spacing: 0.1em;
font-size: 90%;
border-bottom: 2px solid#111111;
border-top: 1px solid #111111;
text-align: left;
}

#veggies {
	background-color: #efefef;
}

#fruit {
	background-color: #efefef;
}

#flowers {
	background-color: #efefef;
}

#table {
//float: right;
//left: 400px;
//border-spacing: 5px;
font-family: Arial, Verdana, sans-serif;
//display: none;
border-style: solid;
border-width: 2px;
padding: 10px 10px 10px 10px;
height: 130px;
width: 370px;
}

#search {
border-style: solid;
border-width: 2px;
padding: 10px;
height: 100px;
width: 370px;
}

#contactinfo {
border-style: solid;
border-width: 2px;
padding: 10px;
height: 120px;
width: 370px;
}